html,
body{
  height: 100%;
  width: 100%;
}

#header{
    text-align: center;
    height: 15%;
    background-color:red;
}

#menu{
    float: left;
    text-align: center;
    height: 100%;
    width: 15%;
    background-color:#116CB6;
}

#main{
    margin-left: 15%;
    text-align: center;
    height: 100%;
    width: 85%;
    background-color:#C0C0C0;
}


/*
Vanhoja värejä
#C0C0C0
#808080

   */
