html,
body{
  height: 100%;
  width: 100%;
  background-color:#656835;
}

h2 {
  color: #404040;
}

h3 {
  color: #404040;
}

#header{
    text-align: center;
    height: 5%;
    background-color:#656835;
}

#menu{
    float: right;
    text-align: center;
    height: 100%;
    width: 15%;
    background-color:#656835;
}

#oikea_sivu{
    float: right;
    text-align: center;
    height: 100%;
    width: 15%;
    background-color:#116cb6;
}

#main{
    margin-left: 15%;
    text-align: center;
    height: 100%;
    width: 70%;
    background-color:#bbbba0;
}




/*
Vanhoja värejä
#C0C0C0
#808080

   */
